/*imports*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*fontSizes*/
/*font weights*/
/*fontStyle*/
/**/
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), local("Raleway-Thin"), url(https://fonts.gstatic.com/s/raleway/v11/rr0ijB5_2nAJsAoZ6vECXRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), local("Raleway-Thin"), url(https://fonts.gstatic.com/s/raleway/v11/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v11/cbAbzEjxTdN5KKmS-gA0tSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v11/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(https://fonts.gstatic.com/s/raleway/v11/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(https://fonts.gstatic.com/s/raleway/v11/QoPu455RxV2raYSIFXAMBSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(https://fonts.gstatic.com/s/raleway/v11/1ImRNPx4870-D9a1EBUdPPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), local("Raleway-Black"), url(https://fonts.gstatic.com/s/raleway/v11/Ji5epXNcpHu3r63lhS0cTiEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), local("Raleway-Black"), url(https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.wrapper {
  width: 100%;
  max-width: 1170px !important;
  margin: 0 auto;
  position: relative;
}

header {
  background: url("../img/headerimg.jpg") center center no-repeat;
  height: 669px;
  background-size: cover;
}

.aboutussection {
  background: url("../img/aboutsectionimg.jpg") center center no-repeat;
  height: auto;
  background-size: cover;
}

.openhours {
  background: url("../img/openinghours.jpg") center center no-repeat;
  height: 670px;
  background-size: cover;
}

.productsmenu {
  background: url("../img/menubg.jpg") center center no-repeat;
  min-height: 860px;
  background-size: cover;
}

.pagegal {
  background: url("../img/galerybg.jpg") center center no-repeat;
  height: auto;
  background-size: cover;
}

.ourchief {
  background: url("../img/chefbg.jpg") center center no-repeat;
  height: auto;
  background-size: cover;
}

.formsection {
  background: url("../img/fomrsection.jpg") center center no-repeat;
  height: 811px;
  background-size: cover;
}

.testimonials {
  background: url("../img/testimonialsbg.jpg") center center no-repeat;
  height: auto;
  background-size: cover;
  padding: 40px 0 80px;
}

.tuchwithus {
  background: url("../img/touchwithus.jpg") center center no-repeat;
  height: auto;
  background-size: cover;
}

/**/
.toprow__logo {
  margin: 28px auto auto auto;
}
.toprow__list {
  margin: 28px auto auto auto;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.toprow__list--item {
  padding: 0 !important;
}
.toprow__list--item a {
  margin: 0 20px 0 0;
  font: 400 0.875em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.toprow__list--item a:hover {
  color: #fa350a;
}
.toprow__list--item a:focus {
  color: #fa350a;
}
.toprow__reservlist {
  list-style: none;
  margin: 28px auto auto auto;
  display: -ms-flexbox;
  display: flex;
}
.toprow__reservlist--item {
  margin: 0 20px 0 0;
}
.toprow__reservlist--button {
  font: 400 0.875em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 11px 10px 11px;
  font-weight: 700;
}
.toprow__reservlist--button:hover {
  color: #fa350a;
  border: 1px solid #fa350a;
}

.fa-shopping-cart {
  color: #fff;
  font-size: 30px;
}
.fa-shopping-cart:hover {
  color: #fa350a;
}

.topslidertext {
  display: block;
  margin: 143px 0;
  text-align: center;
}
.topslidertext__head {
  font: 700 3.75em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.topslidertext__firsttext {
  font: 700 1.5625em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
}
.topslidertext__secondtext {
  font: 700 2.5em "Open Sans", sans-serif;
  color: #fa350a;
}

/**/
/**/
.aboutussection {
  padding: 60px 0 2px 0px;
}
.aboutussection__head {
  font: 700 1.5625em "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.aboutussection__text {
  font: 400 0.875em "Raleway", sans-serif;
  text-align: center;
  color: #000;
  width: 30%;
  line-height: 30px;
  margin: 0 auto;
}
.aboutussection__button {
  font: 400 1em "Open Sans", sans-serif;
  background: #fa350a;
  width: 150px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  margin: 15px auto;
  display: block;
  text-align: center;
}
.aboutussection__button:hover {
  color: #fff;
}
.aboutussection__button:focus {
  color: #fff;
}
.aboutussection__hidentext {
  margin: 0 auto;
  text-align: center;
  display: none;
}
.aboutussection__hidentextbig {
  width: 50% !important;
  font: 400 0.875em "Raleway", sans-serif;
  text-align: center;
  color: #000;
  width: 30%;
  line-height: 30px;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  text-align: justify;
}
.aboutussection__close {
  position: relative;
  left: 270px;
  cursor: pointer;
}

/**/
.productsmenu__head {
  font: 700 1.5625em "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}
.productsmenu__text {
  font: 400 0.875em "Raleway", sans-serif;
  text-align: center;
  color: #000;
  width: 30%;
  line-height: 30px;
  margin: 0 auto;
  width: 20%;
  line-height: 20px;
  margin: 10px auto 30px auto;
}

/**/
.openhours__heading {
  font: 400 2.5em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 20px;
}
.openhours__smalltext {
  font: 400 1.25em "Open Sans", sans-serif;
  color: #fa350a;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  display: block;
}
.openhours .row .large-3 {
  text-align: center;
  margin: 21px 0 20px 0;
  padding: 0px;
}

.resvnumb__text {
  font: 400 1em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px;
}
.resvnumb__number {
  font: 400 1em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px;
  display: block;
}

/**/
/**/
.menupositions {
  margin: 10px auto auto auto;
}
.menupositions__item img {
  clear: both;
}
.menupositions__item--text {
  width: 90%;
}
.menupositions__item--text h3 {
  font: 700  14px 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}
.menupositions__item--text p {
  font: 400  14px 'Raleway', sans-serif;
  width: 70%;
  line-height: 20px;
  text-align: justify;
}

/**/
.pagegal__head {
  font: 400 2.5em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}
.pagegal__smalltext {
  font: 700 2.5em "Open Sans", sans-serif;
  color: #fa350a;
  font-weight: 300;
  text-align: center;
  font-size: 1.25em;
}
.pagegal__largetext {
  font: 400 0.875em "Raleway", sans-serif;
  text-align: center;
  color: #000;
  width: 30%;
  line-height: 30px;
  margin: 0 auto;
  color: #929191;
  line-height: 20px;
}
.pagegal__list {
  margin: 16px auto 15px auto;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  border: 1px solid #fff;
  width: 30%;
  padding: 10px;
}
.pagegal__list--item {
  margin: 0 30px 0 0;
}
.pagegal__list--item a {
  font: 700 0.875em "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.pagegal__list--item a:hover {
  border-bottom: 2px solid #f53909;
  color: #f53909;
  padding: 0 0 13px 0;
}
.pagegal__images {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 0;
  margin: 0;
}
.pagegal__images--item {
  max-width: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.pagegal__images--item img {
  width: 100%;
}

/**/
.ourchief__header {
  font: 400 2.5em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #262525;
  font-weight: 700;
  padding: 80px 0 0 0;
}
.ourchief__text {
  font: 700 2.5em "Open Sans", sans-serif;
  color: #fa350a;
  font-size: 1em;
  color: #000;
  font-weight: 300;
  text-align: center;
  width: 30%;
  margin: 20px auto;
}
.ourchief__items {
  padding: 0 0 15px 0;
}
.ourchief__items img {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.ourchief__items--head {
  font: 700 1em "Raleway", sans-serif;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}
.ourchief__items--text {
  font: 300 0.75em "Raleway", sans-serif;
  color: #fa350a;
  display: block;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}
.ourchief__items--list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
}
.ourchief__items--list__item {
  margin: 0 20px 0 0;
}
.ourchief__items--list__item a {
  font-size: 20px;
  background: #fff;
  border: 1px solid #5a5352;
  color: #5a5352;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
}
.ourchief__items--list__item a:hover {
  border: 1px solid #f53909;
  color: #f53909;
}

/**/
/**/
.eereserv {
  clear: both;
}
.eereserv__leftsite {
  width: 50% !important;
  clear: both;
}
.eereserv__rightsite {
  width: 50% !important;
}
.eereserv__rightsite--form {
  margin: 10% 0 0 0;
}
.eereserv__rightsite--form__name {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__email {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__phone {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__date {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__nameorperson {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__branhname {
  width: 70% !important;
  height: 36px !important;
  border: 2px solid #cccccc !important;
  margin: 0 auto 15px !important;
  background: none !important;
}
.eereserv__rightsite--form__button {
  width: 70%;
  height: 32px;
  background: #f94301;
  font: 400 0.875em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px !important;
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 0 auto 15px !important;
}
.eereserv__rightsite--form__textarea {
  width: 70%;
  height: 63px;
  margin: 0 auto 15px !important;
  background: none !important;
}

/**/
/**/
.news {
  clear: both;
  padding: 86px 0 85px 0;
}
.news:after {
  content: "";
  display: table;
  clear: both;
}
.news__head {
  font: 700 2.5em "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #000;
}
.news__smalltext {
  font: 700 1.25em "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto 35px;
  color: #fa350a;
}

.newstextallitems {
  margin: 0 0 85px 0;
}
.newstextallitems .columns {
  margin: 0;
  padding: 0;
}
.newstextallitems__item--head {
  font: 700 2.5em "Raleway", sans-serif;
  margin: 15px 0 0 10px;
}
.newstextallitems__item--data {
  font: 700 0.875em "Raleway", sans-serif;
  margin: 0 0 20px 10px;
  display: block;
}
.newstextallitems__item--data span {
  color: #f53909;
}
.newstextallitems__item--largetext {
  font: 700 0.875em "Raleway", sans-serif;
  line-height: 20px;
  margin: 0 0 0 10px;
  width: 90%;
}
.newstextallitems__item--button {
  width: 100px;
  font: 700 0.875em "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: block;
  height: 30px;
  background: #f53909;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  margin: 20px 0 0 10px;
}
.newstextallitems__item--button:hover {
  color: #fff;
}
.newstextallitems__item--button:focus {
  color: #fff;
}

.newstextall {
  background: #ebebeb;
  width: 65%;
  margin: 0 auto;
}

.plusbutton {
  display: block;
  margin: auto auto auto auto;
  text-align: center;
  cursor: pointer;
}

/**/
/**/
.testimonialstext--head {
  font: 400 2.5em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.testimonialstext--smallhead {
  font: 700 1.5625em "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fff;
}

.testimonialsmain {
  color: #fff;
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/**/
/**/
.tuchwithustext {
  padding: 0 0 64px 0;
}
.tuchwithustext__head {
  font: 700 2.5em "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #000;
  padding: 60px 0 0 0;
}
.tuchwithustext__smalltext {
  font: 700 1.5625em "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fa350a;
}
.tuchwithustext__smalltextsec {
  font: 400 0.875em "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
  margin: 15px auto 16px auto;
  width: 45%;
  line-height: 30px;
}
.tuchwithustext__social {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
}
.tuchwithustext__social--item {
  margin: 0 10px;
}
.tuchwithustext__social--item a {
  font-size: 20px;
  background: #e1e1e1;
  color: #262525;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
}
.tuchwithustext__social--item a:hover {
  color: #fa350a;
}

.textarea {
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
}
.textarea__item {
  width: 679px !important;
  height: 58px !important;
}
.textarea__button {
  width: 150px !important;
  height: 58px !important;
  background: #f53909;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font: 400 0.875em "Raleway", sans-serif;
}

/**/
.firstbutton {
  margin: 22px 0 30px 0 !important;
  font: 400 0.875em "Open Sans", sans-serif;
  width: 104px;
  height: 33px;
  text-transform: uppercase;
  border-radius: 2px !important;
  background: #f53909 !important;
  line-height: 5px !important;
}

.secondbutton {
  margin: 15px -13px 30px !important;
  font: 400 0.875em "Open Sans", sans-serif;
  width: 104px;
  height: 33px;
  text-transform: uppercase;
  border-radius: 2px !important;
  background: #f53909 !important;
  line-height: 5px !important;
}

.upperfooter {
  background-color: #363636;
  padding: 25px 0 21px 0;
}
.upperfooter__itemfirst--head {
  font: 700 1em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
}
.upperfooter__itemfirst--list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.upperfooter__itemfirst--list__item {
  font: 400 0.875em "Open Sans", sans-serif;
  color: #9c9696;
  border-bottom: 1px solid #fff;
  padding: 15px 0px 14px 0px;
}
.upperfooter__itemfirst--list__item:last-child {
  border-bottom: 0px;
}
.upperfooter__second--box1 {
  padding: 5px 0 0 0;
  clear: both;
}
.upperfooter__second--box1__text {
  width: 70%;
}
.upperfooter__second--box1__text p {
  margin: 0 auto 10px;
  padding: 0px;
  font: 700 0.875em "Raleway", sans-serif;
  color: #fff;
}
.upperfooter__second--box1__text span {
  font: 400 0.625em "Open Sans", sans-serif;
  color: #cacaca;
}
.upperfooter__second--head {
  font: 700 1em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
}
.upperfooter__third--head {
  font: 700 1em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
}
.upperfooter__third--items .columns {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 0px;
}
.upperfooter__fourth--head {
  font: 700 1em "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
}
.upperfooter__fourth--text {
  font: 400 0.875em "Open Sans", sans-serif;
  color: #898888;
  line-height: 25px;
}
.upperfooter__fourth--list {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}
.upperfooter__fourth--list__item {
  font: 700 0.875em "Raleway", sans-serif;
  color: #fff;
  line-height: 30px;
}
.upperfooter__fourth--list__item a {
  color: #fff;
}
.upperfooter__fourth--list__item a:hover {
  color: #fff;
}
.upperfooter__fourth--list__item .fa {
  display: block;
  float: left;
  margin: 7px 7px 0 0;
}

.copyright__item {
  font: 400 1em "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  padding: 15px 0 14px 0;
  margin: 0 auto;
  background: #000;
}

.arrowup {
  position: fixed;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 0px;
  bottom: 25px;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  background: gray;
  border: 1px solid #000;
  text-align: center;
}
