/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
   
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
    /**/
    .toprow__logo {
        float: none !important;
        display: block;
        text-align: center;
        margin: 15px auto 14px auto;
    }
    .toprow__list {
        justify-content: center;
    }
    .toprow__reservlist {
        justify-content: center;
    }
    /**/
   .aboutussection__text {
       width: 68%;
   }
   .openhours {
       height: AUTO;
   }
   .productsmenu__text {
       width: 70%;
   }
   .productsmenu img {
       display: block;
       margin: 0 auto 15px;
       float: none !important;
       text-align: center;
   }
   .menupositions__item--text {
       float: none;
       text-align: center;
       width: 95%;
       margin: 0 auto;
   }
   .menupositions__item--text p {
       width: 95%;
       margin: 0 auto 20px;
       text-align: center;
   }
   .pagegal__list {
       border:0px;
   }
   /**/
   .upperfooter__itemfirst--head {
       text-align: center;
   }
   .upperfooter__second--head, .upperfooter__third--head {
       text-align: center;
       margin: 10px auto 11px auto;
   }
   .upperfooter__second--box1__text {
       float: none !important;
       width: 95%;
       margin: 0 auto;
       text-align: center;
       display: block;
   }
   .upperfooter__second--box1__img {
       float: none !important;
       margin: 10px auto 15px;
       text-align: center;
       display: block;
   }
   .upperfooter__itemfirst--list__item {
       border:0px;
   }
   .upperfooter__itemfirst--list {
       text-align: center;
   }
   .upperfooter__fourth--head {
       margin: 0 auto;
       text-align: center;
   }
   .upperfooter__fourth--text {
       text-align: center;
       width: 95%;
       margin: 0 auto;
   }
   .upperfooter__fourth--list {
       text-align: center;
   }
   .upperfooter__fourth--list__item .fa{
       display: none;
   }
   .upperfooter__fourth--list__item a, .upperfooter__fourth--list__item a:focus{
       color: #fff;
   }
   .firstbutton, .secondbutton {
       width: 40%;
       margin: 10px auto 15px !important;
       display: block;
   }
   .upperfooter__third--items div img {
       width: 90%;
       margin: 15px auto 14px auto;
   }
   .eereserv__leftsite {
       float: none !important;
       width: 100% !important;
   }
   .eereserv__rightsite{
       float: none !important;
       width: 100% !important;
   }
   .eereserv__rightsite--form {
       margin: 10% 0 0;
       padding: 170px 0 0 0;
   }
   /**/
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
   .eereserv__rightsite--form {
        margin: 0% 0 0;
        padding: 90px 0;
    }
    .pagegal__list {
        border:0px;
    }
    .toprow__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .toprow__list--item {
        margin: 0 0 15px 0;
    }
    .toprow__list--item a:hover {
        background: #fa350a;
        color: #fff;
        padding: 5px 40px 5px 40px;
    }
    .toprow__list--item a {
        margin: 0 auto;
    }
    /*logo*/
    header {
        height: auto;
    }
    .toprow__logo {
        text-align: center;
        margin: 15px auto;
        display: block;
    }
    .toprow__reservlist {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .toprow__reservlist--item {
        margin: 0 auto 20px;
    }
    /*slider text*/
    .topslidertext {
        margin: 0 auto;
    }
    .topslidertext__head {
        font-size: 1.2em;
    }
    .topslidertext__firsttext {
        font-size: 1em;
    }
    .topslidertext__secondtext {
        font-size: 1em;
    }
    .topslidertext img {
        margin: 20px auto 25px auto;
    }
    /**/
    /*top*/
    /*.toprow__list {
        display: none;
    }*/
    /*aboutussection*/
    .aboutussection__text {
        width: 95%;
    }
    /*openhours*/
    .openhours {
        height: auto;
    }
    /**/
    /*galery*/
    .pagegal__list {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .pagegal__images {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .pagegal__largetext {
        width: 95%;
        margin: 0 auto;
    }
    /**/
    /*productsmenu*/
    .productsmenu__text {
        width: 95%;
    }
    .menupositions__item--text {
        width: 100%;
    }
    .menupositions__item--text p {
        width: 95%; 
        margin: 15px auto;
        text-align: center;
    }
    .menupositions__item--text h3 {
        text-align: center;
    }
    .menupositions__item img {
        display: block;
        margin: 15px auto;
        text-align: center;
        float: none !important;
    }
    .pagegal__list--item {
        margin: 0 auto;
        text-align: center;
    }
     .pagegal__list--item:hover {
        border-bottom:0px;
     }
     .pagegal__list--item a:hover {
        border-bottom:0px;
     }
    /**/
    /*ourchief*/
    .ourchief__text {
        width: 95%;
    }
    /**/
    /*formsection*/
    .formsection {
        float: none !important;
        width: 100% !important;
    }
    .eereserv__leftsite {
        float: none !important;
        width: 100% !important;
    }
    /**/
    .newstextall{
        width: 95%;
        margin: 0 auto;
    }
    /**/
    /*testimonialas*/
    .testimonialsmain {
        width: 95%;
    }
    /**/
    .textarea__item{
        width: 100% !important; 
    }
    .textarea__button {
        width: 100% !important; 
    }
    .tuchwithustext__social {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .tuchwithustext__social--item {
        margin: 0 0 15px 0;
    }
    .tuchwithustext__smalltextsec {
        width: 100%;
        text-align: justify;
    }
   /*bottomfooter*/
   .upperfooter__second--box1__text{
       float: none !important;
       width: 95%;
       margin: 15px auto;
       text-align: center;
   }
   .upperfooter__second--box1__img {
       float: none !important;
       margin: 0 auto;
       display: block;
   }
   .upperfooter__itemfirst--head {
       text-align: center;
       margin: 0 auto;
   }
   .upperfooter__itemfirst--list__item {
       border-bottom: 0px;
       text-align: center;
       padding: 8px 0 10px;
       font-size: 12px;
   }
   .firstbutton, .secondbutton {
       width: 65%;
       margin: 15px auto !important;
       display: block;
   }
   .upperfooter__second--head, .upperfooter__third--head {
       text-align: center;
       margin: 10px auto 15px auto;
   }
   .upperfooter__fourth--head {
       text-align: center;
       margin: 10px auto 15px auto;
   }
   .upperfooter__fourth--text {
       text-align: justify;
   }
   .upperfooter__fourth--list {
       text-align: center;
   }
   .upperfooter__third--items .columns {
       width: 100%;
   }
   .upperfooter__fourth--list__item .fa {
       display: none;
   }
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
    .eereserv__rightsite--form {
        margin: 0% 0 0;
        padding: 90px 0;
    }
    .pagegal__list {
        border:0px;
    }
    .toprow__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .toprow__list--item {
        margin: 0 0 15px 0;
    }
    .toprow__list--item a:hover {
        background: #fa350a;
        color: #fff;
        padding: 5px 40px 5px 40px;
    }
    .toprow__list--item a {
        margin: 0 auto;
    }
    /*logo*/
    header {
        height: auto;
    }
    .toprow__logo {
        text-align: center;
        margin: 15px auto;
        display: block;
    }
    .toprow__reservlist {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .toprow__reservlist--item {
        margin: 0 auto 20px;
    }
    /*slider text*/
    .topslidertext {
        margin: 0 auto;
    }
    .topslidertext__head {
        font-size: 1.2em;
    }
    .topslidertext__firsttext {
        font-size: 1em;
    }
    .topslidertext__secondtext {
        font-size: 1em;
    }
    .topslidertext img {
        margin: 20px auto 25px auto;
    }
    /**/
    /*top*/
    /*.toprow__list {
        display: none;
    }*/
    /*aboutussection*/
    .aboutussection__text {
        width: 95%;
    }
    /*openhours*/
    .openhours {
        height: auto;
    }
    /**/
    /*galery*/
    .pagegal__list {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .pagegal__images {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .pagegal__largetext {
        width: 95%;
        margin: 0 auto;
    }
    /**/
    /*productsmenu*/
    .productsmenu__text {
        width: 95%;
    }
    .menupositions__item--text {
        width: 100%;
    }
    .menupositions__item--text p {
        width: 95%; 
        margin: 15px auto;
        text-align: center;
    }
    .menupositions__item--text h3 {
        text-align: center;
    }
    .menupositions__item img {
        display: block;
        margin: 15px auto;
        text-align: center;
        float: none !important;
    }
    .pagegal__list--item {
        margin: 0 auto;
        text-align: center;
    }
     .pagegal__list--item:hover {
        border-bottom:0px;
     }
     .pagegal__list--item a:hover {
        border-bottom:0px;
     }
    /**/
    /*ourchief*/
    .ourchief__text {
        width: 95%;
    }
    /**/
    /*formsection*/
    .formsection {
        float: none !important;
        width: 100% !important;
    }
    .eereserv__leftsite {
        float: none !important;
        width: 100% !important;
    }
    /**/
    .newstextall{
        width: 95%;
        margin: 0 auto;
    }
    /**/
    /*testimonialas*/
    .testimonialsmain {
        width: 95%;
    }
    /**/
    .textarea__item{
        width: 100% !important; 
    }
    .textarea__button {
        width: 100% !important; 
    }
    .tuchwithustext__social {
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .tuchwithustext__social--item {
        margin: 0 0 15px 0;
    }
    .tuchwithustext__smalltextsec {
        width: 100%;
        text-align: justify;
    }
   /*bottomfooter*/
   .upperfooter__second--box1__text{
       float: none !important;
       width: 95%;
       margin: 15px auto;
       text-align: center;
   }
   .upperfooter__second--box1__img {
       float: none !important;
       margin: 0 auto;
       display: block;
   }
   .upperfooter__itemfirst--head {
       text-align: center;
       margin: 0 auto;
   }
   .upperfooter__itemfirst--list__item {
       border-bottom: 0px;
       text-align: center;
       padding: 8px 0 10px;
       font-size: 12px;
   }
   .firstbutton, .secondbutton {
       width: 65%;
       margin: 15px auto !important;
       display: block;
   }
   .upperfooter__second--head, .upperfooter__third--head {
       text-align: center;
       margin: 10px auto 15px auto;
   }
   .upperfooter__fourth--head {
       text-align: center;
       margin: 10px auto 15px auto;
   }
   .upperfooter__fourth--text {
       text-align: justify;
   }
   .upperfooter__fourth--list {
       text-align: center;
   }
   .upperfooter__third--items .columns {
       width: 100%;
   }
   .upperfooter__fourth--list__item .fa {
       display: none;
   }
}
