/*imports*/
@import '../sass/helpers/__reset.scss';
@import '../sass/helpers/__functions.scss';
@import '../sass/helpers/__typography.scss';
@import '../sass/helpers/__mixins.scss';
@import "../sass/helpers/__fonts.scss";
@import "../sass/components/__colors.scss";
@import "../sass/helpers/__pagewrapper.scss";
header {
	background: url('../img/headerimg.jpg') center center no-repeat;
	height: 669px;
	background-size: cover;
}
.aboutussection {
	background: url('../img/aboutsectionimg.jpg') center center no-repeat;
	height: auto;
	background-size: cover;
}
.openhours {
	background: url('../img/openinghours.jpg') center center no-repeat;
	height: 670px;
	background-size: cover;
}
.productsmenu {
	background: url('../img/menubg.jpg') center center no-repeat;
	min-height: 860px;
	background-size: cover;
}
.pagegal {
	background: url('../img/galerybg.jpg') center center no-repeat;
	height: auto;
	background-size: cover;
}
.ourchief {
	background: url('../img/chefbg.jpg') center center no-repeat;
	height: auto;
	background-size: cover;
}
.formsection {
	background: url('../img/fomrsection.jpg') center center no-repeat;
	height: 811px;
	background-size: cover;
}
.testimonials {
	background: url('../img/testimonialsbg.jpg') center center no-repeat;
	height: auto;
	background-size: cover;
	padding: 40px 0 80px;
}
.tuchwithus {
	background: url('../img/touchwithus.jpg') center center no-repeat;
	height: auto;
	background-size: cover;
}
/**/
.toprow {
	&__logo {
		@include toprowlogo;
	}
	&__list {
		@include toprowlist;
		&--item{
			padding: 0 !important;
			a{
				margin: 0 20px 0 0;
				@include menuitem;
				&:hover {
					color: #fa350a;
				}
				&:focus {
					color: #fa350a;
				}
			}
		}
	}
	&__reservlist {
		@include toprowreserv;
		&--item {
			margin: 0 20px 0 0;
		}
		&--button {
			@include menuitem;
			@include toprowbutton;
			&:hover {
				color: #fa350a;
				border:1px solid #fa350a;
			}
		}
	}
}
.fa-shopping-cart{
	color: #fff;
	font-size: 30px;
	&:hover {
		color: #fa350a;
	}
}
.topslidertext {
	@include topslidertextsettings;
	&__head {
		@include topsliderhead;
	}
	&__firsttext{
		@include firsttextSliderHead;
	}
	&__secondtext {
		@include secondtextSliderHead;
	}
}
/**/
/**/
.aboutussection {
	padding: 60px 0 2px 0px;
	&__head {
		@include aboutussectionHead;
		margin: 0 0 30px 0;
	}
	&__text {
		@include aboutussectionText;
	}
	&__button {
		@include aboutussectionButton;
		&:hover {
			color: #fff;
		}
		&:focus {
				color: #fff;
		}
	}
	&__hidentext{
		margin: 0 auto;
    	text-align: center;
		display: none;
	}
	&__hidentextbig {
		width: 50% !important;
		@include aboutussectionText;
		display: block;
		margin: 0 auto;
		text-align: justify;
	}
	&__close {
		position: relative;
    	left: 270px;
		cursor: pointer;
	}
}
/**/
.productsmenu {
	&__head{
		@include aboutussectionHead;
		margin: 20px 0 0 0;
	}
	&__text {
		@include aboutussectionText;
		width: 20%;
		line-height: 20px;
		margin: 10px auto 30px auto;
	}
}
/**/
.openhours {
	&__heading {
		@include  openhoursHead;
		padding: 20px;
	}
	&__smalltext {
		@include smallOpenHoursText;
	}
	.row{
		.large-3 {
			text-align: center;
			margin: 21px 0 20px 0;
			padding: 0px;
		}
	}
}
.resvnumb {
	&__text {
		@include openhoursnexttext;
	}
	&__number {
		@include openhoursnexttext;
		display: block;
	}
}
/**/
/**/
.menupositions {
	margin: 10px auto auto auto;
	&__item {
		img{
			clear: both;
		}
		&--text{
			width: 90%;
			h3{
				@include menupositionshead;
			}
			p{
				@include menupositionstext; 
			}
		}
	}
}
/**/
.pagegal {
	&__head{
		@include openhoursHead;
		font-weight: $bold-weight;
	}
	&__smalltext{
		@include secondtextSliderHead;
		font-weight: $light-weight;
		text-align: center;
		font-size: em($font-size-twenty_pixels);
	}
	&__largetext{
		@include aboutussectionText;
		color: #929191;
		line-height: 20px;
	}
	&__list {
		@include pagegallistitems;
		&--item{
			margin: 0 30px 0 0;
			a{
				@include pagegalitems;
				&:hover{
					border-bottom: 2px solid #f53909;
					color: #f53909;
					padding: 0 0 13px 0;
				}
			}
		}
	}
	&__images{
		@include pagegalimg;
		&--item{
			max-width: 100%;
			flex-grow:1;
			img{
				width: 100%;
			}
		}
	}
}
/**/
.ourchief {
	&__header {
		@include openhoursHead;
		color: #262525;
		font-weight: $bold-weight;
		padding: 80px 0 0 0;
	}
	&__text{
		@include secondtextSliderHead;
		font-size: em($font-size-sixteen_pixels);
		color: #000;
		font-weight: $light-weight; 
		text-align: center;
		width: 30%;
		margin: 20px auto;
	}
	&__items{
		padding: 0 0 15px 0;
		img {
			margin: 0 auto;
			display: block;
			text-align: center;
		}
		&--head {
			@include ourchiefHeadOfTitle;
		}
		&--text{
			@include ourchiefSmallOfTitle;
		}
		&--list{
			@include ourchieflist;
			&__item{
				margin: 0 20px 0 0;
				a{
					@include ourchiefSocial;
					&:hover {
					@include ourchiefSocialHover;
					}
				}
			}
		}
	}
}
/**/
/**/
.eereserv {
	clear: both;
	&__leftsite{
			width: 50% !important;
			clear: both;
	}
	&__rightsite{
		width: 50% !important;
		&--form {
			margin: 10% 0 0 0;
			&__name {
				@include eereservformname;
			}
			&__email {
				@include eereservformemail;
			}
			&__phone {
				@include eereservformphone;
			}
			&__date {
				@include eereservformdate;
			}
			&__nameorperson {
				@include eereservformnameorperson;
			}
			&__branhname {
				@include eereservformbranhname;
			}
			&__button {
				@include eereservformbutton;
			}
			&__textarea{
				@include eereservfortextarea;
			}
		}
	}
}
/**/
/**/
.news {
	clear: both;
	@include clearfix;
	padding: 86px 0 85px 0;
	&__head {
		@include tuchwithusHead;
	}
	&__smalltext {
		@include newssmalltext;
	}
}
.newstextallitems {
	margin: 0 0 85px 0;
	.columns {
		margin: 0;
		padding: 0;
	}
	&__item {
		&--head {
			@include newstextallitemshead;
		}
		&--data {
			@include newstextallitemsdata;
			span {
				color: #f53909;
			}
		}
		&--largetext{
			@include newstextallitemslargetext;
		}
		&--button {
			@include newstextallitemsbutton;
			&:hover {
				color:#fff;
			}
			&:focus {
				color:#fff;
			}
		}
	}
}
.newstextall {
	@include newstextall;
}
.plusbutton {
	@include plusbuttonsection;
}
/**/
/**/
.testimonialstext{
	&--head {
		@include testimonialstext;
	}
	&--smallhead {
		@include smalltext;
		color: #fff;
	}
}
.testimonialsmain {
		@include testimonialsmain;
	}
/**/
/**/
.tuchwithustext {
	padding: 0 0 64px 0;
	&__head {
		@include tuchwithusHead;
		padding: 60px 0 0 0;
	}
	&__smalltext {
		@include smalltext;
		color: #fa350a;

	}
	&__smalltextsec{
		@include smalltextsec;
		margin: 15px auto 16px auto;
		width: 45%;
		line-height: 30px;
	}
	&__social {
		@include tuchwithustext;
		&--item {
			margin: 0 10px;
			a{
				@include tuchwithustextsocialsitem;
				&:hover {
					color: #fa350a;
				}
			}
		}
	}
}
.textarea {
		@include newsletersectionall;
	&__item {
		@include newsletersectionItem;
	}
	&__button {
		@include newsletersectionButton;
	}
}
/**/
.firstbutton {
	margin: 22px 0 30px 0 !important;
	@include bottomFooterButton;
}
.secondbutton {
	margin: 15px -13px 30px!important;
	@include bottomFooterButton;
}
.upperfooter {
	@include upperfootersettings;
	&__itemfirst {
		&--head {
			@include bootomFooterFirstHead;
			    margin: 0 0 30px;
		}
		&--list {
			@include bottomfoterlistsection;
			&__item {
				@include bootomFooterFirstList;
				padding: 15px 0px 14px 0px;
			}
			&__item:last-child{
				border-bottom: 0px;
			}
		}
	}
	&__second {
		&--box1{
			padding: 5px 0 0 0;
			clear: both;
			&__text{
				width: 70%;
				p{
					@include newssectionbigtext;
				}
				span {
					@include newssectionsettingssmall;
				}
			}
		}
		&--head {
			@include bootomFooterFirstHead;
			margin: 0 0 30px;
		}
	}
	&__third {
		&--head {
			@include bootomFooterFirstHead;
			    margin: 0 0 30px;
		}
		&--items {
			.columns{
				@include columnscentering;
			}
		}
	}
	&__fourth {
		&--head {
			@include bootomFooterFirstHead;
			    margin: 0 0 30px;
		}
		&--text{
			@include contactinfotext;
			line-height: 25px;
		}
		&--list {
			@include contactsectionlist;
			&__item {
				@include contactinfotextitem;
				a{
					color: #fff;
					&:hover {
						color: #fff;
					}
				}
				.fa {
					@include contanctincons;
				}
			}
		}
	}
}
.copyright {
	&__item {
		@include copyrightItem;
	}
}
.arrowup {
	@include arrowupsettings
}
