@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin toprowlogo{
  margin: 28px auto auto auto;
}
@mixin toprowlist{
    margin: 28px auto auto auto;
		display: flex;
		list-style: none;
}
@mixin toprowreserv{
  	list-style: none;
		margin: 28px auto auto auto;
		display: flex;
}
@mixin toprowbutton{
  			border:1px solid #fff;
			padding: 10px 11px 10px 11px;
			font-weight: $bold-weight;
}
/**/
@mixin pagegalitems{
   font: $bold-weight em($font-size-fourteen_pixels) 'Open Sans', sans-serif;
   color: #fff;
   text-transform: uppercase;
}
@mixin pagegallistitems{
  	margin: 16px auto 15px auto;
		text-align: center;
		display: flex;
		justify-content: center;
		list-style: none;
		border:1px solid #fff;
		width: 30%;
		padding: 10px;
}
@mixin menuitem {
   font: $normal-weight em($font-size-fourteen_pixels) 'Open Sans', sans-serif;
   text-transform: uppercase;
   color: #fff;
}
@mixin topsliderhead {
  font: $bold-weight em($font-size-sixty_pixels) 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
@mixin firsttextSliderHead {
  font: $bold-weight em($font-size-twentyfive_pixels) 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
}
@mixin secondtextSliderHead {
  font: $bold-weight em($font-size-forty_pixels) 'Open Sans', sans-serif;
  color: #fa350a;
}
@mixin aboutussectionHead {
  font: $bold-weight em($font-size-twentyfive_pixels) 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
@mixin ourchiefHeadOfTitle{
  font: $bold-weight em($font-size-sixteen_pixels)  'Raleway', sans-serif;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}
@mixin ourchiefSmallOfTitle{
  font: $light-weight em($font-size-twelve_pixels)  'Raleway', sans-serif;
  color: #fa350a;
  display: block;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}
@mixin ourchiefSocial {
  	font-size: 20px;
		background: #fff;
		border:1px solid #5a5352;
		color: #5a5352;
		height: 40px;
		width: 40px;
		border-radius: 30px;
		line-height: 40px;
		text-align: center;
}
@mixin ourchiefSocialHover{
  	border:1px solid #f53909;
		color: #f53909;
}
@mixin aboutussectionText {
  font: $normal-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
  text-align: center;
  color: #000;
  width: 30%;
  line-height: 30px;
  margin: 0 auto;
}
@mixin aboutussectionButton {
  font: $normal-weight em($font-size-sixteen_pixels) 'Open Sans', sans-serif;
  background: #fa350a;
  width: 150px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  margin: 15px auto;
  display: block;
  text-align: center;
}
@mixin openhoursHead {
  font: $normal-weight em($font-size-forty_pixels) 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase
}
@mixin openhoursnexttext{
  font: $normal-weight em($font-size-sixteen_pixels) 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px;
}
@mixin smallOpenHoursText{
  font: $normal-weight em($font-size-twenty_pixels) 'Open Sans', sans-serif;
  color: #fa350a;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  display: block;
}

@mixin testimonialstext {
  font: $normal-weight em($font-size-forty_pixels) 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
@mixin copyrightItem {
  font: $normal-weight em($font-size-sixteen_pixels) 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
   padding: 15px 0 14px 0; 
  margin: 0 auto;
  background:#000;
}
@mixin tuchwithusHead {
  font: $bold-weight em($font-size-forty_pixels)  'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #000;
}
@mixin smalltext {
  font: $bold-weight em($font-size-twentyfive_pixels)  'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
}
@mixin smalltextsec {
  font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  width: 50%;
}
@mixin bootomFooterFirstHead {
  font: $bold-weight em($font-size-sixteen_pixels)  'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
@mixin bootomFooterFirstList {
  font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
  color: #9c9696;
  border-bottom: 1px solid #fff;
}
@mixin bottomFooterButton {
  font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
  width: 104px;
  height: 33px;
  text-transform: uppercase;
  border-radius: 2px !important;
  background: #f53909 !important;
  line-height: 5px !important;
}
@mixin bottomFooterLatestNewsTexts{
  font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 0px;
  width: 70%;
}
@mixin contactinfotext{
   font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
   color: #898888;
}
@mixin contactinfotextitem {
    font: $bold-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
    color: #fff;
    line-height: 30px;
}
@mixin arrowupsettings {
  	position: fixed;
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 0px;
    bottom: 25px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    background: gray;
    border: 1px solid #000;
    text-align: center;
}
@mixin contanctincons {
    display: block;
	  float: left;
	  margin: 7px 7px 0 0;
}
@mixin contactsectionlist {
    list-style: none;
		margin: 0 auto;
		padding: 0px;
}
@mixin columnscentering {
    margin: 0 auto;
		text-align: center;
		width: 50%;
		padding: 0px;
}
@mixin newssectionsettingssmall{
  	font: $normal-weight em($font-size-twen_pixels)  'Open Sans', sans-serif;
		color: #cacaca;
}
@mixin newssectionbigtext {
  	margin: 0 auto 10px;
		padding: 0px;
		font: $bold-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
		color: #fff;
}
@mixin upperfootersettings {
  background-color: #363636;
	padding: 25px 0 21px 0;
}
@mixin bottomfoterlistsection {
    list-style: none;
		margin: 0 auto;
		padding: 0;
}
@mixin newsletersectionButton {
  	width: 150px !important;
		height: 58px !important;
		background: #f53909;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		font: $normal-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
}
@mixin newsletersectionItem {
  	width: 679px !important;
		height: 58px !important;
}
@mixin newsletersectionall {
  justify-content: center;
	display: flex;
}
@mixin tuchwithustextsocialsitem {
    font-size: 20px;
		background: #e1e1e1;
		color: #262525;
		height: 40px;
		width: 40px;
		border-radius: 30px;
		line-height: 40px;
		text-align: center;
}
@mixin tuchwithustext {
  display: flex;
	list-style: none;
	justify-content: center;
}
@mixin testimonialsmain{
  color: #fff;
		width: 50%;
		display: block;
		text-align: center;
		margin: 0 auto;
}
@mixin plusbuttonsection {
  display: block;
	margin: auto auto auto auto;
	text-align: center;
	cursor: pointer;
}
@mixin newstextall {
  background: #ebebeb;
	width: 65%;
	margin: 0 auto;
}
@mixin newstextallitemsbutton {
    width: 100px;
		font: $bold-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
		color: #fff;
		text-transform: uppercase;
		display: block;
		height: 30px;
		background: #f53909;
		text-align: center;
		line-height: 30px;
		border-radius: 5px;
		margin: 20px 0 0 10px;
}
@mixin newstextallitemslargetext {
  font: $bold-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
			line-height: 20px;
			margin: 0 0 0 10px;
			width: 90%;
}
@mixin newstextallitemsdata {
  font: $bold-weight em($font-size-fourteen_pixels)  'Raleway', sans-serif;
			margin: 0 0 20px 10px;
			display: block;
}
@mixin newstextallitemshead {
  font: $bold-weight em($font-size-forty_pixels)  'Raleway', sans-serif;
			margin: 15px 0 0 10px;
}
@mixin newssmalltext {
    font: $bold-weight em($font-size-twenty_pixels) 'Open Sans', sans-serif;
		text-align: center;
		margin: 0 auto 35px;
		color: #fa350a;
}
@mixin eereservformname {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin eereservformemail {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin eereservformphone {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin  eereservformdate  {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin  eereservformnameorperson  {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin  eereservformbranhname  {
    width: 70% !important;
		height: 36px !important;
		border:2px solid #cccccc !important;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin  eereservformbutton  {
  	width: 70%;
		height: 32px;
		background: #f94301;
		font: $normal-weight em($font-size-fourteen_pixels)  'Open Sans', sans-serif;
		text-transform: uppercase;
		color: #fff;
		border-radius: 5px !important;
		text-align: center;
		display: block;
		cursor: pointer;
		margin: 0 auto 15px !important;
}
@mixin  eereservfortextarea {
  	width: 70%;
		height: 63px;
		margin: 0 auto 15px !important;
		background: none !important;
}
@mixin ourchieflist{
    display: flex;
		list-style: none;
		justify-content: center;
}
@mixin pagegalimg {
    display: flex;
		list-style: none;
		justify-content: center;
		align-items:stretch;
		padding: 0;
		margin: 0;
}
@mixin menupositionstext{
    font: 400  14px 'Raleway', sans-serif;
		width: 70%;
		line-height: 20px;
		text-align: justify;
}
@mixin menupositionshead{
    font: 700  14px 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin: 0 auto;
}
@mixin topslidertextsettings {
    display: block;
	  margin: 143px 0;
	  text-align: center;
}