/*fontSizes*/
$font-size-twen_pixels:10px;
$font-size-twelve_pixels:12px;
$font-size-thirteen_pixels:13px;
$font-size-fourteen_pixels:14px;
$font-size-fifteen_pixels:15px;
$font-size-sixteen_pixels:16px;
$font-size-seventeen_pixels:17px;
$font-size-eighteen_pixels:18px;
$font-size-nineteen_pixels:19px;
$font-size-twenty_pixels:20px;
$font-size-twentyone_pixels:21px;
$font-size-twentytwo_pixels:22px;
$font-size-twentythree_pixels:23px;
$font-size-twentyfour_pixels:24px;
$font-size-twentyfive_pixels:25px;
$font-size-twentysix_pixels:26px;
$font-size-twentyseven_pixels:27px;
$font-size-twentyeight_pixels:28px;
$font-size-twentynine_pixels:29px;
$font-size-thirty_pixels:30px;
$font-size-thirtyone_pixels:31px;
$font-size-thirtytwo_pixels:32px;
$font-size-thirtythre_pixels:33px;
$font-size-thirtyfour_pixels:34px;
$font-size-thirtyfive_pixels:35px;
$font-size-thirtysix_pixels:36px;
$font-size-thirtyseven_pixels:37px;
$font-size-thirtyeight_pixels:38px;
$font-size-thirtynine_pixels:39px;
$font-size-forty_pixels:40px;
$font-size-fortyone_pixes:41px;
$font-size-fortytwo_pixes:42px;
$font-size-fortythre_pixes:43px;
$font-size-fortyfour_pixes:44px;
$font-size-fortyfive_pixes:45px;
$font-size-fortysix_pixes:46px;
$font-size-fortyseven_pixes:47px;
$font-size-fortyeight_pixes:48px;
$font-size-fortynine_pixes:49px;
$font-size-fifty_pixels:50px;
$font-size-sixty_pixels:60px;
$font-size-sixtyfour_pixels:64px;
$font-size-eightfour_pixels:84px;
$font-size-ninetysix_pixels:96px;
/*font weights*/
$extralight-weight:200;
$light-weight:300;
$normal-weight:400;
$medium-weight:500;
$semi-weight:600;
$bold-weight:700;
$extra-weight:800;
/*fontStyle*/
$italicFontStyle:italic;